{
    "alert_type": "TrafficAlert",
    "journey_origin": "1848+Washington+Blvd,+Fremont,+CA+94539,+USA",
    "journey_destination": "1+S+Market+Street,+San+Jose,+CA+95113,+USA",
    "journey_reverse": false,
    "journey_delay_factor": 1.5,
    "api_key": "chamgeme",
    "smtp_server": "email-smtp.us-west-2.amazonaws.com",
    "smtp_port": 587,
    "smtp_email_from": "changeme@gmail.com",
    "smtp_email_to_list": ["changeme@gmail.com"],
    "aws_ses_access_key_id": "CHANGEME",
    "aws_ses_secret_access_key": "CHANGEME",
    "aws_db_region": "CHANGEME, e.g., us-west-2",
    "aws_db_access_key_id": "CHANGEME",
    "aws_db_secret_access_key": "CHANGEME"
}
